<div class="grid-container">
  <h1 class="mat-h1">Welcome John Doe!</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="row">
            <form [formGroup]="form" class="col-md-4" (ngSubmit)="onUpload()">
              <h3>Upload your data</h3>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="type" value="bigQuery">
                <label class="form-check-label">
                  Big Query CSV file
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="type" value="json">
                <label class="form-check-label">
                  Sunburst JSON file
                </label>
              </div>
              <div class="form-group">
                <input type="file" class="form-control-file" formControlName="file" (change)="upload($event)">
              </div>
              <button type="submit" class="btn btn-primary"  [disabled]="form.invalid">Submit</button>
            </form>
            <div class="col-md-6">
              <app-sunburst *ngIf="data" [data]="data" [colorLabel]="colorLabel"></app-sunburst>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
